# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
gunicorn==21.2.0
asgiref==3.7.2
Django==3.2
django-cors-headers==4.3.1
sqlparse==0.4.4

